*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    background-color: #F5F7FB;
    overflow: hidden;
}

.blueblob{
    position: absolute;
    left: 0;
    bottom: 0;
}

.yellowblob{
    position: absolute;
    right: 0;
    top: 0;
}
.AppContainer{
    width: 100%;
    height: 100%;
}

.startPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35vh auto;
}


.startTitle{
    font-family: 'Karla';
    font-size: 31.25px;
    line-height: 37px;
    color: #293264;
    
}
.startDetail{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-top: 7px;
}
.startButton{
    width: 193px;
    height: 52px;
    margin-top: 29px;
    background: #4D5B9E;
    border: none;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F5F7FB;
    cursor: pointer;
}

.form{
    position: relative;
    margin: 37px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

}
.q-a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    border-bottom: solid 1px #DBDEF0;
}

.questions{
    font-family: 'Karla';
    height: 57px;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
}

input{
    display: none;
  }

.answerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
  .answerChoices{
    Width: 65.92px;
    Height: 20.65px;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    color: #293264;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.checkAnswers{
    width: 120px;
    height: 35px;
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 10.24px;
    line-height: 12px;
    color: #F5F7FB;
    cursor: pointer;
}  