*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.w-100{
    width: 100vw;
}
.h-100{
    height: 100vh;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

body{
    background-color: #F5F7FB;
    overflow: hidden;
    color: #293264;
    font-size: 1rem;
    font-family: 'Inter';
}
.App{
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #4d9e65;
}
.blueblob{
    position: absolute;
    left: 0;
    bottom: 0;
}

.yellowblob{
    position: absolute;
    right: 0;
    top: 0;
}

.startPage{
    align-items: center;
    margin: auto;
}

.startTitle{
    font-family: 'Karla';
    font-size: 3rem;
}

.startDetail{
    font-weight: 400;
    margin-top: 7px;
}
.startButton{
    width: 10rem;
    height: 3.5rem;
    margin-top: 1.5rem;
    background: #4D5B9E;
    border: none;
    border-radius: 15px;
    color: #F5F7FB;
    cursor: pointer;
}

form{
    position: relative;
    width: 75%;
    align-items: center;
}


.q-a{
    align-self: flex-start;
    width: 100%;
    border-bottom: solid 1px #DBDEF0;
    padding: 1rem 0;  
}

.questions{
    font-family: 'Karla';
    font-size: 1.4em;
}

.answerContainer{
    width: 100%;
    align-items: center;
    margin-top: .5rem;
}

  .answerChoices{
    width: 10rem;
    height: 2rem;
    border: 0.5px solid #4D5B9E;
    border-radius: 8px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    margin-right: 1rem;
  }

.answerChoices:hover{
    background-color: #DBDEF0;
}
.selected{
    background-color: #DBDEF0;
}
.correct{
    background-color: #4d9e65;
    color: #F5F7FB;
}
.wrong{
    background-color: #ac574f;
    color: #F5F7FB;

}
.missed{
    background-color: #DBDEF0;
}
.formBottom{
    align-items: center;
    margin: 1.5rem 0;
}
.checkAnswers{
    width: 8rem;
    height: 2.5rem;
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
    margin-right: 1rem;
    font-size: .75rem;
    color: #F5F7FB;
    cursor: pointer;
}  

@media screen and (max-width: 35rem){
    form{
        width: 90%;
    }
    
    .q-a{
        padding: .75rem 0;  
    }
    
    .questions{
        font-size: 1.2em;
    }
    
    .answerContainer{
        margin-top: .5rem;
    }
    
      .answerChoices{
        min-width: 5rem;
        height: auto;
        padding: .75rem;
        margin: auto;
      }

    .formBottom{
        align-items: center;
        margin: 1rem 0;
    }

}